.middle-person:focus{ 
    color: salmon; 
    font-weight: 700;
} 
a:visited{ 
    color:red;
} 
li:first-child{ 
    color: aqua;
} 
li:last-child{ 
    background-color: blueviolet;
}
li:nth-child(2n) 
{ 
    color: crimson;
} 
li:nth-child(2n+1) { 
    color: pink;
} 
h3::before{ 
    content: "hello ";
} 
.special::after{ 
    content: " hello "; 
    background-color: blueviolet; 

}